VITE_TAVUS_API_KEY=your_tavus_api_key_here
VITE_TAVUS_REPLICA_ID=your_replica_id_here
VITE_TAVUS_PERSONA_ID=your_persona_id_here
VITE_ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
VITE_SUPABASE_URL=your_supabase_url_here
VITE_HUGGING_FACE=your_huggingface_token_here
DATABASE_URL=your_database_url_here
VITE_SOCKET_URL=http://localhost:3001
VITE_STUN_SERVER=stun:stun.l.google.com:19302